@import "tailwindcss";
@import "@nuxt/ui";

/*@theme {*/



/*    --color-primary: #1E40AF;*/
/*    --color-secondary: #F97316;*/
/*    --color-accent: #10B981;*/
/*    --color-background: #E0E7FF;*/





/*}*/

:root {
    --ui-primary: #1E40AF;
    --ui-secondary: #F97316;

}

.dark {
    --ui-primary: #1E40AF;
    --ui-secondary: #F97316;
    --ui-text: #E0E7FF;

}


/* Extra Light – 200 */
@font-face {
    font-family: 'itfOmniaNaskh';
    src: url('../fonts/itfOmniaNaskh-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/* Light – 300 */
@font-face {
    font-family: 'itfOmniaNaskh';
    src: url('../fonts/itfOmniaNaskh-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Regular – 400 */
@font-face {
    font-family: 'itfOmniaNaskh';
    src: url('../fonts/itfOmniaNaskh-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Medium – 500 */
@font-face {
    font-family: 'itfOmniaNaskh';
    src: url('../fonts/itfOmniaNaskh-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Bold – 700 */
@font-face {
    font-family: 'itfOmniaNaskh';
    src: url('../fonts/itfOmniaNaskh-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Extra Bold – 800 */
@font-face {
    font-family: 'itfOmniaNaskh';
    src: url('../fonts/itfOmniaNaskh-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* Black – 900 */
@font-face {
    font-family: 'itfOmniaNaskh';
    src: url('../fonts/itfOmniaNaskh-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: 'itfOmniaNaskh', sans-serif;
}


